.tools-page {
  display: flex;
  margin-top: 40rem;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  &__links {
    font-size: 2rem;
    color: rgb(46, 46, 46);
    &:hover {
      text-decoration: none;
      color: #e93e3a;
    }
  }
  &__img {
    width: 6rem;
    margin-right: 2rem;
  }
}
