@import "../../../sass//mixins";

.svg-analysis {
  width: 20rem;
  height: 20rem;
  padding: 1rem;
}

#writting {
  opacity: 1;
  transition: all 1s linear;
}

.my-card:hover #writting {
  opacity: 0;
}
#lupa {
  transition: all 1s linear;
}
.my-card:hover #lupa {
  transform: scale(2) translateX(-5rem) translateY(20rem);
  transform-origin: center;
  transform-box: fill-box;
}

#line-graph {
  opacity: 1;
  transition: all 0.5s linear;
}

.my-card:hover #line-graph {
  opacity: 0;
}

#graph {
  transform: scale(1);
  transition: all 0.5s linear;
}

.my-card:hover #graph {
  transform: scale(1.05) translateX(8rem);
  @include respond(tab-port) {
    transform: scale(1.05) translateX(12rem);
  }
  @include respond(phone) {
    transform: scale(1.05) translateX(11.5rem);
  }
}
#dots {
  opacity: 1;
  transition: all 0.5s linear;
}

.my-card:hover #dots {
  opacity: 0;
}
