.svg-calculadora {
  width: 20rem;
  height: 20rem;
  padding: 1rem;
}
#calculadora {
  transition: all .8s linear;
}
.my-card:hover #calculadora {
  transform: scale(1.22);
}

#triangle {
  opacity: 1;
  transition: all .8s linear;
}
.my-card:hover #triangle {
  opacity: 0;
}

#pencil {
  transition: all .9s linear;
}
.my-card:hover #pencil {
  transform: rotate(5deg) translateX(.5rem) translateY(1.7rem);
  transform-origin: bottom;
}

#bottons {
  opacity: 0;
  transition: all .5s linear;
}

.my-card:hover #bottons {
  opacity: 1;
}
