.svg-bitcoin {
  width: 20rem;
  height: 20rem;
  padding: 1rem;
}
#inside-circle {
  transition: all 5s linear;
  transform-origin: center;
  transform-box: fill-box;
}
.my-card:hover #inside-circle {
  animation: rotateAntiClockwise 3s linear infinite;
}
#median-circle {
  transition: all 5s linear;
  transform-origin: center;
  transform-box: fill-box;
}
.my-card:hover #median-circle {
  animation: rotateClockwise 3s linear infinite;
}
#outside-circle {
  transition: all 5s linear;
  transform-origin: center;
  transform-box: fill-box;
}
.my-card:hover #outside-circle {
  animation: rotateClockwise 3s linear infinite;
}
#bitcoin-symbol {
  transition: all 0.8s linear;
  transform-origin: center;
}
.my-card:hover #bitcoin-symbol {
  transform: scale(1.1);
}

@keyframes rotateClockwise {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotateAntiClockwise {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(-360deg);
  }
}
