@import "../../sass/mixins";
.services-section {
  max-width: 102.4rem;
  margin: 0 auto;
  padding: 10rem;
  margin-top: 0rem;

  @include respond (phone) {
    padding: 2rem 1rem;
  }
  @include respond (tab-land) {
    padding: 2rem 20rem;
  }
  @include respond (tab-port) {
    padding: 2rem 10rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5rem;
  @include respond (tab-land) {
    grid-template-columns: 1fr;
  }
  @include respond (tab-port) {
    grid-template-columns: 1fr;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}
